#hero {    
    background-size: auto; /* Adjust the width to 100% and maintain aspect ratio for height */
    background-position: center; /* Center the image */
    color: #D4C9C7; /* Very Light Grayish-Pink */
    text-align: center;        
    margin: 0;
}

#hero .hero-image {    
    width: 70%;
    display: block;
    object-fit: cover;
    padding-top: 65px;
    margin: 0 auto; /* Center horizontally */
}

#hero .btn {
    background-color: #7C5841; /* Medium Dark Brown */
    color: #D4C9C7; /* Very Light Grayish-Pink */
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#hero .btn:hover {
    background-color: #AA7452; /* Light Brown */
}

.overlay {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    padding: 45px;
    border-radius: 5px;
}

.overlay h1 {
    color: #fff; /* White text */
    font-size: 24px;
}

.overlay .btn {
    background-color: #AA7452; /* Light Brown */
    color: #fff; /* White text */
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-radius: 5px;
}

.overlay .btn:hover {
    background-color: #7C5841; /* Dark Brown */
}